<!-- Validation failure messages -->
<% if @location.errors.any? %>
  <% @location.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Location</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_location" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for zipcode -->
      <div class="form-group">
        <label for="zipcode" class="control-label">
          Zipcode
        </label>

        <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" class="form-control" value="<%= @location.zipcode %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @location.user_id %>">
      </div>

      <!-- Label and input for nickname -->
      <div class="form-group">
        <label for="nickname" class="control-label">
          Nickname
        </label>

        <input type="text" id="nickname" name="nickname" placeholder="Nickname" class="form-control" value="<%= @location.nickname %>">
      </div>

      <button class="btn btn-success">
        Create Location
      </button>
      or
      <a href="/locations">Cancel</a>
    </form>
  </div>
</div>
